.v-application {
  .text-h1 {
    font-size: 3rem !important;
    line-height: 3rem;
  }

  .text-h2 {
    font-size: 2rem !important;
    line-height: 2.6rem;
  }

  .text-h3 {
    font-size: 1.5rem !important;
    line-height: 1.5rem;
  }
}
